/* Secondary Navbar Styles */
.secondary-navbar {
    text-align: center; /* Center the nav */
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 0px;
    background-color: transparent; /* Matches primary navbar */
    font-family: raleway, sans-serif;
    z-index: 10;
}

.secondary-navbar:last-of-type {
    padding-bottom: 20px; /* Adds space inside the second navbar at the bottom */
    padding-top: 5px;
}

/* Smooth scrolling */
html, body {
    scroll-behavior: smooth;
}

.secondary-navbar ul {
    display: inline-block; /* Keep list items centered */
    margin: 0 auto;
    padding: 0;
    list-style-type: none; /* Remove bullets */
}

.secondary-navbar li {
    display: inline-block; /* Keep nav items side-by-side */
    margin: 0 15px; /* Even spacing between items */
    font-size: 1.2rem;
}

.secondary-navbar a {
    text-decoration: none;
    color: #00bcd4; /* Match Contact Me link color */
    font-weight: 600;
    padding: 5px 10px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.secondary-navbar a:hover {
    color: #249F71; /* Same hover color as Contact Me */
}

/* Mobile-Friendly Adjustments */
@media (max-width: 768px) {
    .secondary-navbar li {
        margin: 0 8px;
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .secondary-navbar li {
        margin: 10px 0;
        font-size: 13px; /* Reduce font size for smaller screens */
    }
}
