html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; /* Center-align text in the body */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page_name {
  font-size: 24px; /* Adjust font size for consistency */
  margin: 20px 0; /* Add spacing above and below the title */
}

.video-container {
  margin: 20px auto; /* Center the video container */
  width: 70%; /* Set the width similar to the videos on musics.html */
  max-width: 700px; /* Set a max-width to prevent it from becoming too wide */
  text-align: center; /* Center-align the iframe inside */
}

.video-container iframe {
  width: 100%; /* Make iframe responsive */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
}

.video-subtext {
  font-size: 18px; /* Small font size for subtext */
  margin-top: 4px;
  margin-bottom: 50px;
  color: #000000; /* Adjust color if needed */
  text-align: center; /* Center-align the subtext */
}

/* Add padding to the last video container */
.video-container:last-of-type {
  padding-bottom: 100px; /* Adjust this value for space below the last video */
}

/* Flex container for images */
.image-flex-container {
  display: flex; /* Enable Flexbox */
  flex-direction: row; /* Keep images in a horizontal layout */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  margin: 20px auto; /* Center the image container */
  top: 30px; /* Space from the top; adjust as needed */
  padding: 0 100px; /* Add padding to left and right edges */
}

/* Image container styles */
.image-container {
  display: flex; /* Enable Flexbox for image container */
  justify-content: center; /* Center images */
  align-items: center; /* Center images horizontally */
  margin: 15px 0 20px; /* Remove margin around image container */
}

/* Image styles */
.responsive-image {
  width: 250px; /* Set a fixed width for images */
  height: auto; /* Maintain aspect ratio */
  margin: 0 10px; /* Space between images */
}

@media (max-width: 1300px) {
  .responsive-image {
    width: 220px; 
  }
}

@media (max-width: 1100px) {
  .responsive-image {
    width: 200px; 
  }
}

@media (max-width: 900px) {
  .responsive-image {
    width: 170px; 
  }
}

@media (max-width: 800px) {
  .responsive-image {
    width: 155px; 
  }
}

@media (max-width: 700px) {
  .responsive-image {
    width: 140px
  }
}

@media (max-width: 635px) {
  .responsive-image {
    width: 130px;
  }
}

@media (max-width: 590px) {
  .responsive-image {
    width: 120px;
  }
}

@media (max-width: 555px) {
  .responsive-image {
    width: 110px;
  }
}

@media (max-width: 510px) {
  .responsive-image {
    width: 103px;
  }
}

@media (max-width: 490px) {
  .responsive-image {
    width: 90px;
  }
}