html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center; /* Center-align text in the body */
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #454447; /* Set your desired background color */

}

.page_name {
  margin-top: 70px;
}

.video-container {
  margin: 20px auto; /* Center the video container */
  width: 80%; /* Set the width similar to the videos on other pages */
  max-width: 800px; /* Max width for the container */
  text-align: center; /* Center-align the iframe inside */
}

.video-container iframe {
  width: 100%; /* Make iframe responsive */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
}

.video-subtext {
  font-size: 25px; /* Font size for subtext */
  margin-top: 4px;
  margin-bottom: 50px;
  color: #FFFFFF; /* Adjust color if needed */
  text-align: center; /* Center-align the subtext */
}

.active {
  font-weight: bold;
}

.semi-active {
  font-weight: bold;
  color: #2681D9; /* Highlighted color */
}

@media (max-width: 400px) {
  .video-subtext {
    font-size: 18px; /* Small font size for subtext */
  }
}
